body {
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.input-group {
    margin: 10px 0;
}
.input-group label {
    display: inline-block;
    width: 100px;
    text-align: right;
    vertical-align: top;
    padding: 5px;
    border: 1px transparent solid;
}
.input-group input[type=text], .input-group textarea {
    width: calc(100% - 250px);
}
.input-group input[type=text], .input-group textarea, .input-group select, .buttons button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    border: 1px #666 solid;
    font-size: 1.0em;
    font-family: monospace;
    margin: 3px 0;
}
.buttons {
    text-align: center;
}
.buttons button {
    width: 70px;
    background-color: aquamarine;
    cursor: pointer;
}
.buttons button:hover {
    background-color: azure;
}
.buttons button:active {
    border-width: 3px;
    margin: 1px 0;
}
.request-result {
    width: 100%;
    height: 500px;
    overflow: auto;
}